@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

breakpoint {
  max-width: 100%;
  display: inline-block;
}

/* 2 columnas para tablets */
@media (min-width: 420px) {
  breakpoint {
    max-width: 48%;
  }
}
/* 4 columnas para grandes dispositivos*/
@media (min-width: 760px) {
  breakpoint {
    max-width: 24%;
  }
}

.home-first-container {
  height: 90vh;
  background-image: url("../assets/images/Home_Hero.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.bitch-image-earth {
  width: 300px;
  height: 300px;
}

.span-bitch-earth {
  display: flex;
  flex-direction: column;
  font-family: acumin-pro, sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  bottom: 30px;
  left: 400px;
  color: white;
}

.span-bitch-earth h1 {
  letter-spacing: -3px;
  font-size: 30px;
  width: 300px;
  z-index: 2;
  line-height: 50px;
}

.span-bitch-earth button {
  position: relative;
  top: 40px;
  border-radius: 10px;
  background-color: red;
  color: white;
  font-family: acumin-pro, sans-serif;
  font-size: 25px;
  height: 40px;
  border: none;
  width: 350px;
  height: 80px;
  border: 3px solid white;
}

.home-second-container {
  height: 60vh;
  background: linear-gradient(#e42515, #c6601f);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  font-family: acumin-pro, sans-serif;
}
.home-second-container h1 {
  font-weight: bold;
  letter-spacing: 4px;
}

.your-next-host-span {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.your-next-host-span h2 {
  font-weight: bolder;
  letter-spacing: 2px;
  text-decoration: underline;
  font-size: 36px;
  position: relative;
  bottom: 20px;
}

.your-next-host-span button {
  position: relative;
  top: 50px;
  align-items: center;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-family: acumin-pro, sans-serif;
  height: 40px;
  width: 200px;
}

.home-third-container {
  font-family: acumin-pro, sans-serif;
  height: 100vh;
  background-color: #ededed;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.home-third-container h1 {
  text-align: left;
  letter-spacing: -2px;
  z-index: 2;
}

.home-third-container article {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 50px;
}

.home-third-container div {
  width: 250px;
  height: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  color: white;
  margin-right: 100px;
  position: relative;
}

.home-third-container span {
  width: 220px;
  padding-top: 10px;
}
.home-third-container h1 {
  font-weight: bold;
  font-size: 31px;
  position: relative;
  right: 10px;
}

.home-third-container div h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 23px;
  position: relative;
  letter-spacing: -2px;
}

.gym-rats-image {
  position: relative;
  bottom: 10px;
  width: 220px;
  height: 130px;
}

.celebs-image {
  position: relative;
  bottom: 10px;
  width: 220px;
  height: 130px;
}

.vaxxer-image {
  position: relative;
  bottom: 10px;
  width: 220px;
  height: 130px;
}

.home-third-container h4 {
  margin-left: 20px;
  margin-bottom: 10px;
  line-height: 20px;
  font-size: 14px;
  font-weight: lighter;
  position: relative;
  right: 20px;
}

.home-third-container button {
  font-family: acumin-pro, sans-serif;
  font-size: 20px;
  border-radius: 10px;
  background-color: transparent;
  height: 50px;
  border: none;
  width: 300px;
  font-weight: bold;
  border: 3px solid red;
}

.method-contact {
  color: #dd3521;
  position: relative;
  top: 50px;
  font-size: 18px;
  text-decoration: underline;
}

.posession-image-section {
  width: 200px;
  height: 200px;
  margin-left: 20px;
}

.home-fourth-container {
  height: 100vh;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.home-fourth-container span h1 {
  font-family: acumin-pro, sans-serif;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: -4px;
  margin-bottom: 5px;
  width: 400px;
}

.home-fourth-container span {
  font-family: acumin-pro, sans-serif;
  font-size: 18px;
  color: black;
  font-weight: bold;
  margin-bottom: 30px;
}

.home-fourth-container form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  height: 600px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 1px 6px 5px 2px rgba(211, 211, 211, 1);
  -moz-box-shadow: 1px 6px 5px 2px rgba(211, 211, 211, 1);
  box-shadow: 1px 6px 5px 2px rgba(211, 211, 211, 1);
}

.home-fourth-container input {
  width: 300px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #dd3521;
}

.home-fourth-container label {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  position: relative;
  top: 35px;
  font-weight: lighter;
}

.home-fourth-container select {
  width: 300px;
  height: 50px;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  position: relative;
  top: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #dd3521;
}

.home-fourth-container textarea {
  height: 100px;
  border-radius: 10px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #dd3521;
}

#button-to-submit {
  border-radius: 5px;
  background-color: transparent;
  color: #dd3521;
  font-family: "Roboto", sans-serif;
  border: 3px solid #dd3521;
  height: 45px;
  width: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bolder;
}

.contact-second-container form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  height: 600px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 1px 6px 5px 2px rgba(211, 211, 211, 1);
  -moz-box-shadow: 1px 6px 5px 2px rgba(211, 211, 211, 1);
  box-shadow: 1px 6px 5px 2px rgba(211, 211, 211, 1);
}

.contact-second-container input {
  width: 300px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #dd3521;
}

.contact-second-container label {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  position: relative;
  top: 35px;
  font-weight: lighter;
}

.contact-second-container select {
  width: 300px;
  height: 50px;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  position: relative;
  top: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #dd3521;
}

.contact-second-container textarea {
  height: 100px;
  border-radius: 10px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #dd3521;
}

#button-to-submit {
  border-radius: 5px;
  background-color: transparent;
  color: #dd3521;
  font-family: "Roboto", sans-serif;
  border: 3px solid #dd3521;
  height: 45px;
  width: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bolder;
}

footer {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 250px;
  color: white;
  font-family: acumin-pro, sans-serif;
}

footer span {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 150px;
  position: relative;
  bottom: 20px;
}

footer span h2 {
  font-size: 21px;
  font-weight: bold;
}

footer span h3 {
  height: 5px;
  width: 180px;
}

.third-section-footer {
  height: 60px;
  width: 200px;
}

.third-section-footer a {
  color: white;
}

footer img {
  width: 70px;
}

#footer-image-icon {
  display: flex;
  align-items: center;
}

.contact-first-container {
  background-color: #ededed;
  height: 70vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact-first-container div {
  display: flex;
  flex-direction: row;
}

.contact-first-container article {
  width: 400px;
  position: relative;
  right: 40px;
  top: 10px;
}

.contact-first-container article h1 {
  font-family: acumin-pro, sans-serif;
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 30px;
  letter-spacing: -3px;
}

.contact-first-container article h3 {
  font-family: acumin-pro, sans-serif;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 15px;
  font-weight: lighter;
}

.contact-image {
  width: 260px;
  height: 260px;
  position: relative;
  left: 60px;
}

.contact-second-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.contact-second-container h1 {
  margin-top: 15px;
  font-family: acumin-pro, sans-serif;
  font-size: 26px;
  font-weight: bold;
  position: relative;
  bottom: 20px;
  right: 150px;
  letter-spacing: -2px;
}

.projects-first-container {
  height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.projects-first-container img {
  position: relative;
  right: 30px;
}

.projects-first-container article {
  font-family: acumin-pro, sans-serif;
  width: 370px;
  font-size: 20px;
  position: relative;
  right: 150px;
}

.natura-gif-project {
  position: relative;
  left: 150px;
  width: 300px;
  height: 300px;
}

.projects-first-container h3 {
  font-family: acumin-pro, sans-serif;
  margin-bottom: 30px;
  position: relative;
  top: 10px;
  line-height: 25px;
  width: 450px;
}

.projects-first-container h1 {
  font-family: acumin-pro, sans-serif;
  margin-bottom: 30px;
  position: relative;
  font-size: 36px;
  color: #d81e10;
  font-weight: bolder;
  top: 10px;
  width: 600px;
  letter-spacing: -1px;
}

.projects-second-container {
  height: 90vh;
  margin-left: 200px;
  margin-right: 200px;
}

.projects-second-container span h4 {
  width: 250px;
  position: relative;
  top: 20px;
  line-height: 24px;
}

.projects-second-container article {
  display: flex;
  flex-direction: row;
}

.projects-second-container article div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 60px;
  margin-left: 60px;
  background-color: black;
  color: white;
}

.projects-second-container h1 {
  font-family: acumin-pro, sans-serif;
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 30px;
  margin-top: 20px;
  width: 1000px;
  letter-spacing: -2px;
}

.projects-second-container h2 {
  font-family: acumin-pro, sans-serif;
  font-weight: lighter;
  font-style: normal;
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 10px;
  padding-top: 20px;
  position: relative;
  right: 30px;
  bottom: 10px;
  z-index: 4;
  letter-spacing: -1px;
}

.projects-second-container h4 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: lighter;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  left: 10px;
}

.projects-second-container span {
  padding-bottom: 30px;
  padding-right: 10px;
}

.projects-third-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../assets/images/bosque-projects.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.projects-third-container article {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects-third-container article h1 {
  font-family: acumin-pro, sans-serif;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  letter-spacing: -3px;
  color: white;
  z-index: 2;
}

.projects-third-container article h3 {
  font-family: acumin-pro, sans-serif;
  font-size: 24px;
  font-weight: 400;
  width: 450px;
  text-align: center;
  color: white;
}

.projects-third-container span {
  height: 70vh;
  background-color: white;
  width: 400px;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projects-third-container span h2 {
  position: relative;
  bottom: 30px;
  font-size: 23px;
  font-family: acumin-pro, sans-serif;
  font-weight: bold;
  left: 40px;
  letter-spacing: -2px;
  z-index: 2;
}

.projects-third-container span h4 {
  position: relative;
  font-size: 16px;
  line-height: 20px;
  font-family: acumin-pro, sans-serif;
  left: 40px;
  width: 350px;
}

.projects-third-container div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.projects-third-container img {
  width: 380px;
  height: 230px;
}

.projects-third-container button {
  border-radius: 10px;
  background-color: #d81e10;
  color: white;
  font-family: "Roboto", sans-serif;
  height: 50px;
  border: none;
  width: 200px;
  margin-top: 70px;
  margin-bottom: 70px;
  font-size: 17px;
  border: 3px solid white;
}

.partnerships-second-container {
  height: 90vh;
  margin-left: 200px;
  margin-right: 200px;
}

.partnerships-second-container span h4 {
  width: 250px;
  position: relative;
  top: 20px;
  line-height: 24px;
}

.partnerships-second-container article {
  display: flex;
  flex-direction: row;
}

.partnerships-second-container article div {
  display: flex;
  flex-direction: column;
  margin-right: 60px;
  margin-left: 60px;
  background-color: black;
  align-items: center;
  color: white;
}

.partnerships-second-container h1 {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 30px;
  margin-top: 20px;
  width: 550px;
  letter-spacing: -2px;
}

.partnerships-second-container h2 {
  font-family: acumin-pro, sans-serif;
  font-weight: lighter;
  font-style: normal;
  font-size: 23px;
  margin-bottom: 10px;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 10px;
  padding-top: 20px;
  position: relative;
  left: 10px;
  z-index: 2;
}

.partnerships-second-container h4 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: lighter;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  left: 10px;
}

.partnerships-second-container span {
  padding-bottom: 30px;
  padding-right: 10px;
}

.partnerships-first-container {
  height: 60vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 100px;
}

.partnerships-first-container img {
  position: relative;
  right: 30px;
  width: 300px;
  height: 200px;
}

.partnerships-first-container article {
  font-family: acumin-pro, sans-serif;
  width: 370px;
}

.partnerships-first-container h2 {
  font-family: acumin-pro, sans-serif;
  color: red;
  margin-bottom: 30px;
  position: relative;
  font-size: 40px;
  font-weight: bold;
  top: 10px;
  width: 800px;
  
  letter-spacing: -3px;
}

.partnerships-first-container h3 {
  font-family: acumin-pro, sans-serif;
  margin-bottom: 30px;
  position: relative;
  top: 10px;
  line-height: 20px;
  left: 20px;
}

.partnerships-third-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../assets//images/background_basura.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 50px;
}

.partnerships-third-container article {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  top: 10px;
}

.partnerships-third-container article h1 {
  font-family: acumin-pro, sans-serif;
  color: black;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
  background-color: rgba(255, 0, 0, 0.4);
  position: relative;
  right: 200px;
  height: 100px;
  padding-top: 10px;
  line-height: 40px;
}

.partnerships-third-container span {
  height: 70vh;
  background-color: white;
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid red;
}

.partnerships-third-container span h2 {
  position: relative;
  bottom: 20px;
  font-size: 23px;
  font-family: acumin-pro, sans-serif;
  font-weight: bold;
  left: 40px;
  letter-spacing: -1px;
}

.partnerships-third-container span h4 {
  position: relative;
  font-size: 16px;
  line-height: 20px;
  font-family: acumin-pro, sans-serif;
  left: 40px;
  width: 350px;
}

.partnerships-third-container div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.partnerships-third-container img {
  width: 380px;
  height: 230px;
}

.partnerships-third-container button {
  border-radius: 10px;
  background-color: grey;
  color: white;
  font-family: "Roboto", sans-serif;
  height: 40px;
  border: none;
  width: 200px;
  margin-top: 70px;
  font-size: 20px;
}

.article-nature-section {
  padding-top: 160px;
  position: relative;
  left: 200px;
  width: 400px;
  line-height: 24px;
}

.article-nature-section h1 {
  margin-bottom: 30px;
  font-family: acumin-pro, sans-serif;
  font-size: 60px;
  letter-spacing: -8px;
  font-weight: bold;
}

.article-nature-section h3 {
  font-family: acumin-pro, sans-serif;
  font-size: 34px;
  font-weight: lighter;
  line-height: 40px;
  width: 550px;
}

.article-nature-section h3 span {
  border-bottom: 23px solid #edd147;
  font-weight: bold;
}

.aboutme-first-section {
  height: 30vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.aboutme-first-section article {
  margin-bottom: 50px;
  width: 300px;
}

.aboutme-first-section div {
  display: flex;
  flex-direction: row;
}

.aboutme-first-section span {
  display: flex;
  flex-direction: column;
}

.aboutme-first-section img {
  width: 300px;
  height: 300px;
  position: relative;
}

.aboutme-first-section span h1 {
  font-family: acumin-pro, sans-serif;
  font-size: 36px;
  font-weight: bold;
  text-align: left;
  width: 400px;
  height: 40px;
  letter-spacing: -3px;
  position: relative;
  left: 150px;
  bottom: 30px;
  line-height: 24px;
}

.aboutme-first-section span h4 {
  font-family: acumin-pro, sans-serif;
  font-weight: 100;
  width: 300px;
  position: relative;
  left: 150px;
  line-height: 24px;
}

.aboutme-first-section span button {
  width: 280px;
  height: 40px;
  position: relative;
  left: 150px;
  top: 55px;
  background: none;
  border-radius: 5%;
  border-color: red;
  color: red;
  font-weight: bold;
  z-index: 10;
}

.aboutme-second-section {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 20px;
}

.aboutme-second-section div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.aboutme-second-section div span {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 10px;
}

.aboutme-second-section img {
  width: 300px;
  height: 300px;
}

.aboutme-second-section span h1 {
  position: relative;
  bottom: 30px;
  font-family: acumin-pro, sans-serif;
  font-size: 36px;
  font-weight: bold;
  text-align: left;
  width: 400px;
  height: 40px;
  letter-spacing: -3px;
  line-height: 24px;
}

.aboutme-second-section span h4 {
  font-family: acumin-pro, sans-serif;
  font-weight: 100;
  width: 300px;
  line-height: 24px;
  margin-bottom: 10px;
}

.aboutme-second-section button {
  width: 300px;
  height: 40px;
  background: none;
  border-radius: 5%;
  border-color: red;
  color: red;
  font-weight: bold;
  position: relative;
  top: 35px;
}

.aboutme-third-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutme-third-section h1 {
  font-family: acumin-pro, sans-serif;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  width: 600px;
  letter-spacing: -2px;
  z-index: 2;
  line-height: 60px;
}

.aboutme-third-section div img {
  margin: 30px;
  width: 100px;
  position: relative;
  top: 10px;
}

.aboutme-fourth-section {
  height: 80vh;
  display: flex;
  flex-direction: column;
  background-color: #ebf4f5;
  padding-top: 50px;
}

.aboutme-fourth-section h1 {
  position: relative;
  left: 250px;
  font-family: acumin-pro, sans-serif;
  font-weight: bold;
  font-size: 20px;
  width: 200px;
}

.aboutme-fourth-section article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: acumin-pro, sans-serif;
}

.aboutme-fourth-section span {
  position: relative;
  top: 50px;
  margin-left: 30px;
  margin-right: 30px;
  background-color: white;
  width: 300px;
  height: 400px;
  padding-right: 30px;
  padding-left: 30px;
}

.aboutme-fourth-section h2 {
  line-height: 20px;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: bold;
  padding-top: 20px;
}

.aboutme-fourth-section h3 {
  line-height: 20px;
  margin-bottom: 20px;
  font-size: 13px;
}

.aboutme-fourth-section h4 {
  line-height: 20px;
  margin-bottom: 20px;
  font-size: 11px;
}

.navbar {
  position: absolute;
  display: flex;
  align-items: center;
  background-color: white;
  opacity: 0.8;
  padding-right: 50px;
  z-index: 10;
  border-radius: 10px;
}

.navbar h1 {
  color: black;
  font-family: acumin-pro, sans-serif;
  font-weight: bold;
  letter-spacing: -1px;
}

.history-container-padre {
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 400px;
  margin-bottom: 100px;
}

.nature-earth-history {
  position: absolute;
  width: 200px;
  left: 250px;
  top: 100px;
}

.history-cloud {
  position: absolute;
  width: 200px;
  top: 180px;
  left: 280px;
}

.history-dino {
  position: absolute;
  width: 350px;
  left: 200px;
  top: 60px;
}

.history-ameba {
  position: absolute;
  width: 200px;
  right: 290px;
  top: 200px;
}

.history-semen {
  position: absolute;
  width: 200px;
  top: 100px;
  left: 400px;
}

.history-planet {
  position: absolute;
  width: 150px;
  bottom: 50px;
  left: 100px;
}

.history-container-padre aside {
  position: relative;
  top: 50px;
  right: 250px;
  line-height: -10px;
}

.history-first-section {
  border-right: 1px solid black;
}

.history-first-section div {
  border-top: 1px solid black;
  width: 350px;
  z-index: 1;
  position: relative;
  bottom: 200px;
}

.history-second-section {
  position: relative;
  top: 200px;
}

.history-second-section div {
  border-top: 1px solid black;
  width: 350px;
  z-index: 1;
  position: relative;
  bottom: 200px;
}

.history-first-section article {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  width: 350px;
  height: 240px;
  position: relative;
  right: 200px;
  background-color: #f6f6f6;
  align-items: center;
  justify-content: center;
  font-family: acumin-pro, sans-serif;
  z-index: 2;
}

.history-first-section h1 {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -2px;
  line-height: 40px;
  position: relative;
  bottom: 30px;
  width: 250px;
}

.history-first-section h2 {
  font-size: 16px;
  font-weight: lighter;
  width: 250px;
  line-height: 20px;
}

.history-second-section h1 {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -2px;
  line-height: 40px;
  position: relative;
  bottom: 30px;
  width: 250px;
}

.history-second-section h2 {
  font-size: 16px;
  font-weight: lighter;
  width: 250px;
  line-height: 20px;
}

.history-second-section article {
  font-family: acumin-pro, sans-serif;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  width: 350px;
  height: 240px;
  position: relative;
  left: 200px;
  background-color: #f6f6f6;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.box-gradient {
  border: 4px solid;
  border-image-source: linear-gradient(45deg, red, orange);
  border-image-slice: 1;
}
